.projects-main {

}

.basic-projects {
  margin-left: 5%;
  margin-right: 5%;
}

.projects-heading-div > * {
  flex: 1;
}

.projects-heading-text-div {
  text-align: center;
}

.projects-heading-text {
  font-size: 56px;
  font-weight: 400;
  font-family: "Google Sans Medium";
  line-height: 1.1;
  text-align: center;
  margin-top: 80px;
}

.projects-header-detail-text {
  font-size: 20px;
  line-height: 30px;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Google Sans Medium";
}

figure {
	position: relative;
  overflow: hidden;
  margin: 10px 1%;
  background: rgb(22, 21, 21);
  text-align: center;
  cursor: default;
  box-shadow: -1rem 0 3rem #000;
  height: 450px;
}

.fig-btn {
  background-color: #263238;
  font-weight: bold;
  padding: 8px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 20px;
}

.fig-btn-fill {
  color: white;
  display: block;
  text-decoration:none;
  width: 100px;
  height: 30px;
  line-height: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

h1 {
  color: #5a7f92;
}

.svg-pic {
  width: 40px;
  height: 40px;
  margin-bottom: -15px;
  margin-top: 15px;
  ;
}

.row {
  display: flex;
}

.wrapper {
  width: 1280px;
  margin: 0 auto;
}

.item1, .item2 {
  max-width: 600px;
  max-height: 500px
}

.item2 {
  height: 500px;
}