.projects-main {
  width: 100%;
}

.basic-projects {
  margin-left: 5%;
  margin-right: 5%;
}

.projects-heading-div > * {
  flex: 1;
}

.projects-heading-text-div {
  text-align: center;
}

.projects-heading-text {
  font-size: 56px;
  font-weight: 400;
  font-family: "Google Sans Medium";
  line-height: 1.1;
  text-align: center;
  margin-top: 80px;
}

.projects-header-detail-text {
  font-size: 20px;
  line-height: 30px;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Google Sans Medium";
}

figure {
	position: relative;
  overflow: hidden;
  margin: 10px 1%;
  background: rgb(17, 16, 16);
  text-align: center;
  cursor: pointer;
  max-width: 30%;
  box-shadow: -1rem 0 3rem #000;
}

.fig-btn {
  background-color: #263238;
  font-weight: bold;
  padding: 8px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 20px;
}
.fig-btn-fill {
  color: white;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }